<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" 
  colors="true" 
  stopOnFailure="false">
  
  <testsuites>
    <testsuite name="Account">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Validation">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Staff">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Roster">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Duty">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Dashboard">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>