{% extends "base.html" %} {% block title %} {{ title }} {% endblock title %} {%
block content %}
<h4 class="center-align">Admin Login</h4>
{% if errors %}
<div class="toast red active white-text">
  <i>error</i>
  {{ errors.login_err ?: 'Input error!' }}
</div>
{% endif %}
<form action="admin_login.php" method="post">
  <div class="container padding center-align middle-align">
    <div class="card medium-width">
      <div class="field label border {% if errors.username_err %} invalid {% endif %}">
        <input type="text" name="username" />
        <label>Admin Username</label>
        {% if errors.username_err %}
          <span class="error">{{ errors.username_err }}</span>
        {% endif %}
      </div>
      <div class="field label border {% if errors.password_err %} invalid {% endif %}">
        <input type="password" name="password" />
        <label>Admin Password</label>
        {% if errors.password_err %}
          <span class="error">{{ errors.password_err }}</span>
        {% endif %}
      </div>
      <div class="field app-color white-text rounded small medium-width">
        <input type="submit" class="cursor" value="Sign In" />
      </div>
    </div>
  </div>
</form>
{% endblock content %}
